{% extends "base.html" %}

{% block title %} Recipes {% endblock %}

{% block content %}
<h3 class="text-center">Suas receitas</h3>

<a href="/recipe/new">
    <p class="btn btn-outline-primary">
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        Nova Receita
    </p>
</a>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir esta receita?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a type="button" class="btn btn-danger" id="delete">Excluir</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    {% if recipes|length > 0 %}
    {% for recipe in recipes %}
    <div class="col-sm-6">
        <div class="card mb-2">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text">{{ recipe.description }}</p>
                <a href="{{ url_for('recipe_show', recipe_id=recipe.id)}}" class="btn btn-primary">Visualizar</a>
                <a href="{{ url_for('recipe_edit', recipe_id=recipe.id)}}" class="btn btn-secondary">Editar</a>
                <a href="#" id="btn-delete" class="delete-link btn btn-danger" data-toggle="modal"
                    data-target="#confirmDeleteModal" data-id="{{ recipe.id }}">Remover</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="col-12 alert alert-primary" role="alert">
        Nenhuma receita cadastrada.
    </div>
    {% endif %}
</div>
{% endblock %}
{% block javascript %}
<script>
    $(document).on('click', '#btn-delete', function (e) {
        a = document.getElementById('delete');
        const id = $(this).data('id');
        a.setAttribute("href", "/recipe/delete/" + id);
    });
</script>
{% endblock %}