{% extends "base.html" %}

{% block title %} Cadastro {% endblock %}
{% block content %}
<h3 class="text-center">Cadastro</h3>

<form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    {{ form.submit }}
</form>

<a href="{{url_for('login')}}">Já possui uma conta? Entre </a>
{% endblock %}